body {
  background-color: #1E1E1E; 
  font-family: 'StormGust', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
 
}

.informations{
  background-color: #1E1E1E;
}

.photos-container{
  display: flex;
  justify-content: center;
  margin-top: 50px ;
margin-bottom: 50px ;
}
.infophoto {
margin-top: 93px;
width: 300px;

}

.presfesti,.concept,.programmation,.infopratiquestitle{
  text-align: center;
  margin-bottom: 15px;
}

.textpres,.textprog{
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold
}

.line1infos,.line2prog,.line3tar{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textconcept{
  text-align: left;
  margin-left: 15px;
  margin-right: 5px;
  color: white;
  margin-top: 20px;
}

.lieu-image{
  width: 350px;
  height: 350px;
}

.lieu-container{
  display: flex;
  justify-content: center;
  margin-top: 50px ;
  margin-bottom: 50px ;
}

.taretbil{
  text-align: center;
margin-bottom: 50px;
color: white;
font-weight: bold;
}

.txttarif{
  text-align: center;
  margin-bottom: 5px;
color: white;
line-height: 5px;

}

.billetterie {
  background: none; /* Gris */
  color: #ff6600; /* Orange */
  font-family: 'Arial', sans-serif; /* Remplacez par la police de votre choix */
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border-color: #ff6600;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre */
  transition: background-color 0.3s ease; /* Transition au survol */
}

.bouton-billeterie{
  display: flex;
  justify-content: center;
margin-bottom: 50px;

  top: 100px;
}

.billetterieimg{
  margin-right: 20px;
}

.aproposcontainer{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.txtconcept{
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
  line-height: 10px;
}

.txtvaleurs{
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
  margin-bottom: 100px;
}

.txtpres{
  text-align: left;
  color: white;
  font-family: "Gill Sans MT";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
line-height: 5px;
margin-left: 30px;
margin-bottom: 44px;
}


.imagecolisée{
  display: flex;
  justify-content: center;
}
.cinécolisée{
  width: 300px;
height: 213.6px;
flex-shrink: 0;
margin-bottom: 50px;
}

.datesetlieux{
  margin-bottom: 46px;
}

.txtdates{
  color: #FFF;

text-align: center;
/* Texte */
font-family: "Gill Sans MT";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 50px;
}