
.bardenav{
    background-color: #FB6B24;
    height: 96px; 
    width: 100%;
    

    border-bottom-left-radius: 30px;
border-bottom-right-radius: 53px
    
    
    
    
}



.boutonmenu{
    position: absolute;
    left: 0;
    top: 40px;
}

.titre {
    position: absolute;
    right: 100px;
    top: 50px;
}