
.bardenav{
    background-color: #FB6B24;
    height: 96px; 
    width: 100%;
    position: fixed;
    

    border-bottom-left-radius: 30px;
border-bottom-right-radius: 53px
    
    
    
    
}



.boutonmenu{
    position: absolute;
    left: 0;
    top: 30px;
}

.titre {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
}