.menu {
    position: fixed;
    inset: 0;
    background-color: #FB6B24;
    z-index: 1000;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu[aria-hidden="false"] {
    visibility: visible;
}

.menu__list{
    list-style: none;
   
}

.menu__item{
    line-height: 18px;
    margin-bottom: 30px;
   text-align: center;

}

.elipsefoot{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.elipsetitre{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 75px;
    
}

.boutonmenu{
    background-color: transparent;
    border: none;
}